.bienvenidos {
    display: block;
    background-color: $bg-color-cajas2;
    padding: 10px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 10px;
    align-items: center;
    align-content: center;
  
    h1 {
      margin: 20px;
      padding: 30px;
      text-align: center;
    }
  
  }
  