
.pieDePagina {
    background-color: $bg-color-cajas2;
    padding: 20px;
    display: flex;
    justify-content: center;
  
     .red-social {
      align-items: center;
      margin-right: 20px;
  
      img {
        width: 40px;
        margin-right: 5px;
        &:hover{
          width: 45px;
        }
      }
  
    }
  
  }