.tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 20px;
  }
  
  @media (max-width:768px) {
    .tarjetas {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width:576px) {
    .tarjetas {
      grid-template-columns: 1fr;
    }
  }
  @media (min-width:809px) {
    .ubicacion iframe {
      height: 80%;
    }
  }
  
  .tarjeta {
    @include tarjeta($bg-color-cajas2);
  
    .video-container video {
      @extend %imgCover;
    
    }
    
    .img-container img {
     @extend %imgCover;
    }
  }
  
  